a {
    text-decoration: none;
    color: #2b2b2b;
}

header {
    width: 100%;
    min-width: 720px;

}

.clearfix {
    overflow: auto;
    zoom: 1;
}



.header {
    width: 1620px;
    min-width: 720px;
    margin: 0 auto;
}

.header-top {
    width: 100%;
}

.header-tool {
    height: 90px;
    width: 100%;
    padding-top: 20px;
}

.topbox-left {
    float: left;
    width: 400px;
    height: 80px;
    padding-top: 26px;
}

.topbox-right {

    float: right;
    width: 410px;
    height: 80px;
    padding: 30px 0 0 0;

}

.topbox-left-logo {
    position: relative;
    float: left;
    width: 120px;
    height: 40px;
    margin-top: -14px;
}

.topbox-left-logo span {
    font-size: 9px;
    position: absolute;
    top: 0;
    right: 0;
}

.topbox-left-logo img {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.topbox-left-menu {
    position: relative;
    float: left;
    margin-left: 32px;
    width: 32px;
    height: 2px;
    background-color: #2b2b2b;
    margin-top: 12px;

}

.topbox-left-menu::before,
.topbox-left-menu::after {
    position: absolute;
    content: '';
    display: block;
    width: 32px;
    height: 2px;
    background-color: #2b2b2b;
    display: block;
}

.topbox-left-menu::before {
    top: 8px;
}

.topbox-left-menu::after {
    bottom: 8px;
}

.topbox-left-connection {
    float: right;
    width: 185px;
    height: 20px;
}

.topbox-left-connection a {
    color: #111;
}

.topbox-left-connection a:first-child {
    margin-right: 25px;
}

.topbox-right-null {
    float: left;
    height: 30px;
    width: 205px;

}

.topbox-right-null .iconfont {
    color: black;
}

.topbox-right-null .big {

    font-size: 24px;
}

.topbox-right-null a {
    color: #2b2b2b;
}


.topbox-right-login {
    float: left;
    height: 26px;
    width: 60px;
    margin-top: 3px;
}

.topbox-right-bucar {
    float: right;
    margin-top: 3px;
}

.topbox-right-help {
    float: left;
    margin: 3px 30px 0 35px;
    font-size: 16px;
}

.topbox-right-bucar .iconfont {
    font-size: 26px;

}

.tool-form {
    width: 100%;
    height: 40px;
    border: 1px solid #d4dbe0;
}

.tool-form .form-text {
    float: left;
    width: 1475px;
    font-size: 14px;
    color: #2b2b2b;
    border: 0;
    margin-left: 5px;
    outline: none;
}

.tool-form .form-btn {
    float: right;
    width: 134px;
    height: 38px;
    background-color: #111;
    color: #fff;
    border: 0;
}

.advertising {
    width: 100%;
    height: 380px;
    padding: 0 10px;
    overflow: hidden;
}

.advertising-left {
    float: left;
    width: 1090px;
    height: 100%;
    background: #fff url(../upload/desktop.webp) no-repeat;
    background-position: right bottom !important;
    background-size: cover !important;
}

.advertising-right {
    float: right;
    width: 780px;
    height: 100%;
}

.advertising-right .text-column p {
    text-align: center;
}

.advertising-left-block {
    width: 535px;
    height: 330px;
    margin: 30px 0 5px 5px;
}

.advertising-left-set {
    margin-top: 40px;
}

.set-moer {
    display: inline-block;
    width: 110px;
    height: 44px;
    background-color: #111;
    color: #fff;
    text-align: center;
    line-height: 44px;
    margin-right: 35px;
}

.set-moer:hover {
    color: #fff;
    text-decoration: none;
}

.set-sur {
    color: #0a757a;
}

.rightbox-top {
    height: 180px;
    width: 100%;
    background-color: #0b3354;
}

.top-content {
    width: 100%;
    height: 45px;
}

.text-column {
    width: 100%;
    height: 85px;

}

.top-content img {
    display: block;
    width: 107px;
    height: 45px;
    margin: 0 auto;
}

.rightbox-bot {
    height: 180px;
    width: 100%;
    background-color: #fffae3;
    margin-top: 20px;
}

.rightbox-top .text-column p,
.rightbox-top .text-column p span {
    color: #ffffe4;
}

.text-column p {
    text-align: center;
}

.topbox-wap {
    padding-top: 25px;
}

.code {
    width: 100%;
    height: 140px;
}

.code-wap {
    width: 1640px;
    height: 138px;
    margin: 0 auto;
    padding: 20px 10px 0 10px;
}

.code-wap-Qr {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 150px;
}

.code-wap-text {
    float: left;
    width: 1070px;
    height: 68px;
    margin: 15px 0 0px 35px;

}

.code-wap-text .text-column {
    text-align: center;
}

.code-wap-btn {
    float: left;
    width: 110px;
    height: 40px;
    background-color: #111111;
    margin: 35px 0 0 30px;
    text-align: center;
    line-height: 40px;

}

.code-wap-btn a {
    color: #fff;
}

.code-wap-btn a:hover {
    text-decoration: none;
}

.goods {
    width: 100%;
    height: 210px;
    padding: 16px 10px 24px 10px;
}

.godds-box,
.godds-box-remove {
    float: left;
    width: 460px;
    height: 170px;

}

.godds-box {
    margin: 0 10px 0 0;
}

.godds-box-lis {
    margin-bottom: 10px;
}

.godds-box-lis,
.godds-box-listo {
    width: 100%;
    height: 80px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.godds-box-remove {
    width: 465px;
    height: 170px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.remove-logo {
    width: 100%;
    height: 64px;
    text-align: center;
}

.vsc-marquee-module {
    width: 100%;
    height: 520px;
    background: #fff url(../upload/v3-module.jpg) no-repeat 50% 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.module-Gethelp {
    width: 526px;
    height: 321px;
    text-align: center;
}

.Question {
    width: 100%;
    height: 666px;
}

.Question-wap {
    width: 1640px;
    height: 626px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-column {
    padding: 10px 0 0;
    height: 100px;
}

.text-column p {
    text-align: left;
}

.text-column .link-plain a {
    color: #09757a;
}

.text-column .link-plain a:hover {
    text-decoration: none;
}

.increased {
    height: 164px;
}

.statement {
    height: 160px;
    width: 100%;
    padding: 56px 0;
}

.statement-list-wap {
    width: 1640px;
    height: 48px;
    margin: 0 auto;


}

.footer-help {
    height: 96px;
    width: 100%;
    padding: 32px 0;
    background-color: #00a4a6;
}

.footer-help h4 {
    text-align: center;
    color: #fff;
}

.footer-help h4 a {
    color: #fff;

}

.footer-help h4 a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-contact {
    height: 186px;
    width: 100%;
    background-color: #111111;
    padding: 0 54px;
}

.contact-left {
    float: left;
    width: 1195px;
    height: 100%;
    padding: 27px 10px 40px 10px;
}

.contact-right {
    float: right;
    width: 597px;
    height: 138px;
    padding: 32px 10px 40px 10px;

}

.newsletter-form>label {
    padding-bottom: 15px;
}

.newsletter-form>label span {
    font-size: 30px;
    color: #fff;
}

.form-control {
    width: 777px;
    height: 66px;
    border-color: #2b2b2b;
    background-color: #2b2b2b;
    color: #bac0c3;
    padding: 32px 24px;
}

.btn {
    width: 164px;
    height: 66px;
    color: #111 !important;
    background: #fff !important;
}

.footer-guide {
    float: left;
}

.footer-guide span {
    color: #bac0c3;
    font-size: 18px;
}

.footer-guide div {
    margin-top: 12px;
}

.newbth {
    width: 112px;
    height: 44px;
    color: #fff !important;
    background: #111 !important;
    border-color: #111 !important;

}

.footer-arrow {
    float: right;
}

.contact-right .footer-godaddy-guides .footer-arrow {
    float: right;
}

.tax {
    width: 100%;
    height: 95px;
    background-color: #111111;
    text-align: center;
    line-height: 95px;
    border-top: 1px solid #444;
}

.tax span {
    color: #fff;
}

.details {
    width: 100%;
    height: 360px;
    padding: 30px 54px 0px 54px;
    background-color: #111;
    border-top: 1px solid #444;

}

.details-list {
    width: 100%;
    height: 270px;
    background-color: #111111;
}

.details-pic {
    width: 100%;
    height: 44px;
    background-color: #111;
    border-bottom: 1px solid #444;

}

.details-list .lists {
    float: left;
    margin-right: 225px;
}

.lists dd {
    margin-bottom: 15px;
    color: #fff;
    font-size: 14px;
}

.lists dt {
    text-align: left;
    margin-bottom: 10px;
}

.lists dt a {
    color: #bac0c3;
    font-size: 12px;

}